
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(96 101 123);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(45, 43, 44);
}

.container {
  padding: 30px;
  margin-top: 80px;
}

h2 {
  color: rgb(234, 235, 245);
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

.main-content {
  max-width: 50rem;
  width: 100%;
  min-height: 400px;
  height: auto;
  padding: 18px 18px 120px 18px;
  position: relative;
  resize: none;
  box-shadow: 10px 20px 48px 10px rgba(233, 234, 236, 0.2);
  background: rgb(255 255 255);
  border: 0.5px solid rgb(22, 51, 218);
  border-radius: 16px;
}

.main-content:focus {
  border: 0.3px solid rgba(242, 242, 246, 0.3);
  outline: none;
}

p,
.main-content {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

.btn-style{
  display: flex;
}

button {
  background: rgb(166, 17, 156);
  color: rgb(255 255 255);
  border-radius: 10px;
  padding: 16px 30px;
  border: none;
  font-size: 18px;

  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -80px;
  cursor: pointer;
}

button:focus,
button:hover {
  background: rgb(109, 12, 93);
}

.counter-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
  }

  h2 {
    font-size: 28px;
  }

  .main-content {
    /*border:1px solid*/
    font-size: 16px;
    word-spacing: normal;
  }

  button {
    padding: 12px 28px;
    font-size: 16px;
    margin-top: -70px;
  }

  .counter-container {
    flex-direction: column;
  }

  .counter-container p:first-child {
    margin-bottom: 0;
  }
}